<h1>사이즈 입력 뷰</h1>
<p>Find me in app/views/sizingreal/input.html.erb</p>
<p> <a href="/sizingreal/mypage"> 내 정보 뷰로 이동 </a> </p>


<form action="/sizingreal/result" method="get">
  총장 : <input type="number" name="length">
  허리 : <input type="number" name="waist">
  허벅지 : <input type="number" name="thigh">
  밑위 : <input type="number" name="rise">
  밑단 : <input type="number" name="tail">
  <input type="submit" value="결과 뷰로 보내기">
</form>
