<img src="/assets/sizereal.png"></img>
<p> <a href="/sizingreal/input"> 입력 뷰로 이동 </a></p>
<center>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-warning">회원가입</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-warning">로그인</button>
            </div>
        </div>
    </div>
</center>
